.header-container {
  width: 100vw;
  height: 50vh;
  overflow: hidden;
  background-size: cover;
}

#background-image {
  width: 100vw;
  aspect-ratio: 1/1;
}

#header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  border: 1px solid gray;
  border-top: none;
  padding: 1vh 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#logo {
  height: 90%;
  max-width: 20%;
  margin-left: 1vw;
  cursor: pointer;
}

#logo:hover {
  animation: shakey .4s ease-in-out;
}

#menu-options-pc {
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}

#menu-burger-btn {
  margin-right: 2vw;
  background-color: transparent;
  border: none;
  z-index: 1;
}

.mobile {
  display: none;
}

.pc-link {
  margin-right: 2vw;
  text-decoration: none;
  font-size: 1.5em;
  color: whitesmoke;
  transition: .2s;
}

.pc-link:hover {
  font-size: 1.6em;
}

.mobile-link {
  margin-right: 5vw;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 2em;
  margin-top: 5vh;
}

.mobile-link:hover {
  /*
  animation to make some sort of progress bar from left to right once
  */
}

#menu-options-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  #header-container {
    background-color: lightblue;
  }

  #header-menu {
    width: 100vw;
    background-color: transparent;
    backdrop-filter: none;
    border: none;
  }

  #menu-options-pc {
    display: none;
  }

  .mobile {
    display: block;
  }

  #menu-options-mobile {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(140, 140, 140, 0.4);
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .first-menu-link {
    margin-top: 10vh;
  }
}

@keyframes shakey {
  0% {
    rotate: 0deg;
  }
  33% {
    rotate: 10deg;
  }
  66% {
    rotate: -10deg;
  }
  100% {
    rotate: 0deg;
  }
}
