* {
  --height: 10vh;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  font-size: 3em;
  text-wrap: nowrap;
  position: absolute;
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--height);
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}


#logo {
  height: 90%;
  max-width: 20%;
  margin-left: 1vw;
}

#menu-options-pc {
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}

#menu-burger-btn {
  margin-right: 2vw;
  background-color: transparent;
  border: none;
  z-index: 1;
}

.mobile {
  display: none;
}

.pc-link {
  margin-right: 2vw;
  text-decoration: none;
  font-size: 2em;
  color: black;
}

.mobile-link {
  margin-right: 5vw;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 2em;
  margin-top: 5vh;
}

#menu-options-mobile {
  display: none;
}

.placeholder-with-banner {
  width: 100vw;
  height: 15vh;
}

.placeholder {
  width: 100vw;
  height: 10vh;
}

@media only screen and (max-width: 768px) {
  #header-container {
    background-color: lightblue;
  }

  #menu-options-pc {
    display: none;
  }

  .mobile {
    display: block;
  }

  #menu-options-mobile {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(140, 140, 140, 0.4);
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .first-menu-link {
    margin-top: 10vh;
  }
}
