hr {
    margin: 2vh 0;
}

.sub-headline {
    font-weight: 10000;
}

.flyer {
    max-height: 750px;
    max-width: 530px;
}

.flyer-wrapper {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1600px) { 
    .flyer {
        margin-bottom: 5vh;
        max-width: 90vw;
    }

    .flyer-wrapper {
        align-items: center;
        flex-direction: column;
    }
}