<article>
  <p>
    Wir sind Jungen und Mädchen im Alter von 12 bis 18 Jahren. Jeden Donnerstag
    treffen wir uns zu Jugendübungen, Interessierte sind bei uns immer
    willkommen. Bei unseren Übungen wird das Vorgehen in verschiedenen
    Situationen trainiert. Betreut werden wir von zwei Jugendwarten die uns in
    Sachen Feuerwehrausbildung sowie auch Freundschaft immer zur Seite stehen.
  </p>

  <p>
    Wir sind die Feuerwehrfrauen und -männer von morgen! Wir lernen im
    Miteinander zu arbeiten, erwerben feuerwehrtechnische Grundlagen für den
    späteren Feuerwehrdienst und unternehmen Freizeitaktivitäten. Mit Freude,
    Spaß und Spannung werden wir an den aktiven Feuerwehrdienst herangezogen.
  </p>

  <br />

  <h3>Wir suchen DICH!!</h3>

  <p>Das bieten wir Dir:</p>
  <ul class="unordered-list">
    <li>
      <p>Lebendige Gemeinschaft durch vielfältige Aktivitäten</p>
    </li>
    <li>
      <p>Teilnahme an Wettbewerben</p>
    </li>
    <li>
      <p>Förderung der Anerkennung des ehrenamtlichen Engagements</p>
    </li>
    <li><p>Durchgehende Motivation</p></li>
  </ul>
  <br />

  <p>Was macht die Jugendgruppe?</p>
  <ul class="unordered-list">
    <li>
      <p>
        Ausbildung in Theorie und Praxis an dem Fahrzeug und Geräten der
        Feuerwehr
      </p>
    </li>
    <li>
      <p>Teilnahme an den Übungen der aktiven Wehr</p>
    </li>
    <li><p>Ausflüge</p></li>
    <li>
      <p>Teilnahme an Zeltlagern innerhalb und außerhalb unseres Landkreises</p>
    </li>
  </ul>
  <br />
  <p>
    Wie kann ich bei der Jugendgruppe mitmachen? <br />
    Melde dich bei unserem Jugendwart unter <a href="mailto:Jugendfeuerwehr@feuerwehr-villenbach.de">Jugendfeuerwehr&#64;feuerwehr-villenbach.de </a>!
  </p>
</article>
