.fahrzeug-images {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1300px) { 
    .fahrzeug-images {
        flex-direction: column;
    }

    .fahrzeug-images > img {
        margin-bottom: 10vh;
    }
}