---
import BaseLayout from "../layouts/BaseLayout.astro";
import Man1 from "../assets/aktive-wehr/man1.jpg";
import Man2 from "../assets/aktive-wehr/man2.jpg";
---
<BaseLayout breadcrumbs={[["Aktive Wehr", "/aktive-wehr"]]}>
    <h1>Unser Fuhrpark:</h1>
<article>
    <h2>Das LF 8/6: Unser großes Feuerwehrfahrzeug</h2>
    <p>Unser Feuerwehrfahrzeug, das LF 8/6, spielt eine zentrale Rolle bei der Bekämpfung von Bränden und der Rettung von Menschenleben. Für diejenigen, die sich mit Feuerwehrtechnik nicht auskennen, möchten wir hier einen kurzen Einblick geben.</p>
    <br>
    <div class="fahrzeug-images">
        <img src={Man1.src} title="Feuerwehrauto vor ehemaligem Gerätehaus">
        <img src={Man2.src} title="Feuerwehrauto mit Atemschutz und Tragkraftspritze">
    </div>
    <br>
    <h2>Was ist das LF 8/6?</h2>
    <p>Das LF 8/6 (Löschgruppenfahrzeug 8/6) ist ein Feuerwehrfahrzeug, das speziell für die Brandbekämpfung und einfache technische Hilfeleistungen konzipiert ist. Die Bezeichnung "8/6" steht für eine Pumpenleistung von 800 Litern pro Minute und einen eingebauten Wassertank mit einem Fassungsvermögen von 600 Litern.</p>
    <br>
    <h2>Ausstattung und Funktionen</h2>
    <p>
        Unser LF 8/6 ist mit einer Vielzahl von Geräten ausgestattet, die es uns ermöglichen, effektiv auf Notfälle zu reagieren:
    </p>
    <ul class="unordered-list">
        <li>
            <p><span class="list-icon">💧</span>Wassertank: Der 600-Liter-Wassertank ermöglicht es uns, schnell mit der Brandbekämpfung zu beginnen, noch bevor eine externe Wasserversorgung aufgebaut ist.</p>
        </li>
        <li>
            <p><span class="list-icon">🧯</span>Feuerlöschkreiselpumpe: Mit einer Leistung von 800 Litern pro Minute stellt die Pumpe sicher, dass ausreichend Wasser für die Brandbekämpfung zur Verfügung steht. Außerdem befindet sich auf dem Fahrzeug eine Tragkraftspritze, die zwar etwas leistungsschwächer ist, wir jedoch mobil einsetzen können.</p>
        </li>
        <li>
            <p><span class="list-icon">🛠️</span>Ausrüstung für technische Hilfeleistung: Das Fahrzeug ist mit Werkzeugen und Geräten ausgestattet, die bei Verkehrsunfällen oder anderen Notfällen eingesetzt werden können.</p>
        </li>
    </ul>
    <br>

    <h2>Unsere Mannschaft</h2>
    <p>
        Das LF 8/6 bietet Platz für eine Mannschaft von bis zu neun Feuerwehrleuten. Diese Gruppe besteht aus erfahrenen und bestens ausgebildeten Freiwilligen, die rund um die Uhr bereit sind, im Notfall auszurücken.
    </p>
    
</article>
</BaseLayout>

<style>
    .fahrzeug-images {
    display: flex;
    justify-content: space-around;
}

    @media only screen and (max-width: 1300px) { 
        .fahrzeug-images {
            flex-direction: column;
        }

        .fahrzeug-images > img {
            margin-bottom: 10vh;
        }
    }
</style>
