---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout breadcrumbs={[["Aktuelles", "/aktuelles"]]}>
    <span>In Kürze informieren wir Sie hier über die aktuellen Termine</span>
</BaseLayout>
