---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <h1>
        Die Freiwillige Feuerwehr Villenbach feierte 2025 ihr 150-jähriges
        Bestehen!
    </h1>
    <br />
    <h2 class="sub-headline">Festprogramm</h2>
    <div class="flyer-wrapper">
        <img class="flyer" src="/assets/img/fest2025/general-flyer.png" />
        <img class="flyer" src="/assets/img/fest2025/oldtimer-flyer.png" />
    </div>
</BaseLayout>

<style>
    hr {
        margin: 2vh 0;
    }

    .sub-headline {
        font-weight: 10000;
    }

    .flyer {
        max-height: 750px;
        max-width: 530px;
    }

    .flyer-wrapper {
        display: flex;
        justify-content: space-around;
    }

    @media only screen and (max-width: 1600px) {
        .flyer {
            margin-bottom: 5vh;
            max-width: 90vw;
        }

        .flyer-wrapper {
            align-items: center;
            flex-direction: column;
        }
    }
</style>
