---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <h1>
        Herzlich Willkommen auf der Website der Freiwilligen Feuerwehr
        Villenbach!
    </h1>
    <br />
    <hr />
    <br />
    <h3>
        Wir sind rund um die Uhr f체r die Sicherheit der B체rgerinnen und B체rger
        in der Gemeinde Villenbach zust채ndig. Auf dieser Webseite stellen wir
        die Arbeit unserer Aktiven Wehr, des Feuerwehrvereines und unserer
        Jugendfeuerwehr vor.
    </h3>
</BaseLayout>
