---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout breadcrumbs={[["Kontakt", "/kontakt"]]}>
  Bei Fragen können Sie sich jederzeit unter <a href="mailto:verein@feuerwehr-villenbach.de">verein@feuerwehr-villenbach.de</a> melden!
</BaseLayout>
