#routing-container {
  /*pc*/
  width: 70vw;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10vh;
}

.breadcrumbs {
  margin-bottom: 2vh;
}

.breadcrumbs > a {
  text-decoration: none;
  color: gray;
}

.breadcrumb-divider {
  color: gray;
  margin: 0 .5vw;
}

router-outlet {
  margin-top: -10vh;
}

@media only screen and (max-width: 768px) {
  /*mobile*/
  #routing-container {
    width: 90vw;
  }
}
