#routing-container {
  /*pc*/
  width: 70vw;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
}

router-outlet {
  margin-top: -10vh;
}

@media only screen and (max-width: 768px) {
  /*mobile*/
  #routing-container {
    width: 90vw;
  }
}
